<%= link_to "Add new todo", new_todo_path %>

<ul class="todos">
  <% @todos.each do |todo| %>
    <li class=" <%= "completed" if todo.completed? %>  "><%= todo.title %></li>
    <%= button_to "Mark complete", completions_path(todo) %>
  <% end %>
</ul>
